.servicesContainer {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(3, 1fr);
}

.service {
  background: var(--color-bg-variant);
  border: 1px solid var(--color-primary);
  border-radius: 0.5rem 0.5rem 2rem 2rem;
  height: fit-content;
  transition: var(--transition);
}

.service:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.serviceHead {
  background: var(--color-primary);
  border-radius: 0.5rem 0.5rem 2rem 2rem;
  box-shadow: 0 2rem 1rem rgb(0 0 0 / 10%);
  padding: 2rem;
}

.serviceHead h3 {
  color: var(--color-bg);
  font-size: 1rem;
  text-align: center;
}

.serviceList {
  padding: 2rem;
}

.serviceList li {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.8rem;
}

.serviceList-icon {
  color: var(--color-primary);
  margin-top: 2px;
}

.serviceList p {
  font-size: 0.9rem;
}

/* =========== MEDIA QURIES (Medium devices) ========== */

@media screen and (width <= 1024px) {
  .servicesContainer {
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }

  .service {
    height: auto;
  }
}

/* =========== MEDIA QURIES (Small devices) ========== */

@media screen and (width <= 600px) {
  .servicesContainer {
    gap: 1.5rem;
    grid-template-columns: 1fr;
  }
}
