/* =============== FORM =============== */

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

input,
textarea {
  background: transparent;
  border: 2px solid var(--color-primary-variant);
  border-radius: 0.5rem;
  color: var(--color-white);
  padding: 1.5rem;
  resize: none;
  width: 100%;
}

.container.contactContainer {
  display: grid;
  gap: 12%;
  grid-template-columns: 30% 58%;
  width: 58%;
}

.contactOptions {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contactOption {
  background: var(--color-bg-variant);
  border: 1px solid transparent;
  border-radius: 1.2rem;
  padding: 1.2rem;
  text-align: center;
  transition: var(--transition);
}

.contactOption:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
}

.contactOptionIcon {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.contactOption a {
  display: inline-block;
  font-size: 0.8rem;
  margin-top: 0.7rem;
}

.contactOption a:hover {
  color: var(--color-primary);
  font-weight: bold;
  text-decoration: underline;
}

.contactOption h5 {
  color: var(--color-light);
}

.inputField {
  border-radius: 5px;
  font-size: 1rem;
  padding: 10px;
  width: 100%;
}

.inputField:focus {
  border-color: var(--color-primary);
  outline: none;
}

.inputError {
  border: 2px solid red !important;
}

.warningText {
  color: red;
  display: inline-block;
  font-size: 0.9rem;
  margin-top: 5px;
}

.errorMessage {
  background: red;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
  color: var(--color-white);
  font-size: 0.9rem;
  padding: 10px;
  position: relative;
}

.successMessage {
  background: green;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
  color: var(--color-white);
  font-size: 0.9rem;
  padding: 10px;
  position: relative;
}

.closeButton {
  background: transparent;
  border: none;
  color: var(--color-white);
  font-size: 0.9rem;
  position: absolute;
  right: 10px;
  top: 15px;
}

.closeButton:hover {
  cursor: pointer;
}

input:-webkit-autofill {
  -webkit-text-fill-color: var(--color-white) !important;
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--color-white) !important;
  transition: background-color 5000s ease-in-out 0s;
}

/* =========== MEDIA QURIES (Medium devices) ========== */

@media screen and (width <= 1024px) {
  .container.contactContainer {
    gap: 2rem;
    grid-template-columns: 1fr;
  }
}

/* =========== MEDIA QURIES (Small devices) ========== */

@media screen and (width <= 600px) {
  .container.contactContainer {
    width: var(--container-width-sm);
  }
}
