footer {
  background: var(--color-primary);
  font-size: 0.9rem;
  margin-top: 7rem;
  padding: 3rem 0;
  text-align: center;
}

footer a {
  color: var(--color-bg);
}

.footerLogo {
  border-radius: 5px;
  display: inline-block;
  font-size: 2rem;
  font-weight: 500;
  padding: 2px;
}

.footerLogo:hover,
.permaLinks li a:hover {
  color: var(--color-bg);
  font-weight: bold;
  text-decoration: underline;
}

.permaLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto 1rem;
}

.permaLinks li {
  display: inline-block;
  margin: 0 0.5rem 5rem;
}

.permaLinks li:not(:last-child)::after {
  color: var(--color-bg);
  content: "|";
  font-weight: 400;
  margin: 0 7px;
  position: absolute;
}

.footerSocials {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.icon {
  background: var(--color-bg);
  border: 1px solid transparent;
  border-radius: 50%;
  color: var(--color-white);
  display: flex;
  padding: 0.8rem;
}

.icon:hover {
  background: transparent;
  border-color: var(--color-bg);
  color: var(--color-bg);
}

/* ========== Tooltip ============ */

.tooltipContainer {
  display: inline-block;
  position: relative;
}

.tooltip {
  background-color: var(--color-bg);
  border: 1px solid var(--color-white);
  border-radius: 5px;
  bottom: 110%;
  color: var(--color-white);
  font-size: 0.85rem;
  left: 50%;
  opacity: 0;
  padding: 1px 8px;
  position: absolute;
  transform: translateX(-50%);
  transition: opacity 0.2s ease-in-out, visibility 0.2s;
  visibility: hidden;
  white-space: nowrap;
}

.tooltipContainer:hover .tooltip {
  opacity: 1;
  visibility: visible;
}

/* =========== MEDIA QUERIES (Small Devices) ========== */

@media screen and (width <= 600px) {
  .permaLinks {
    flex-direction: column;
    margin-bottom: 5rem;
  }

  .permaLinks li {
    margin: 0;
  }

  .permaLinks li::after {
    content: none !important;
  }
}
