.experienceContainer {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
}

.experienceContainer>div {
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 2rem;
    padding: 2.4rem 5rem;
    transition: var(--transition);
}

.experienceContainer>div:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.experienceContainer>div h3 {
    color: var(--color-primary);
    margin-bottom: 2rem;
    text-align: center;
}

.experienceContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.experienceDetails {
    display: flex;
    gap: 1rem;
}

.experienceDetailsIcon {
    color: var(--color-primary);
    margin-top: 6px;
}

/* =========== MEDIA QURIES (Medium devices) ========== */

@media screen and (width <= 1024px) {
    .experienceContainer {
        grid-template-columns: 1fr;
    }

    .experienceContainer>div {
        margin: 0 auto;
        padding: 2rem;
        width: 80%;
    }

    .experienceContent {
        padding: 1rem;
    }
}

/* =========== MEDIA QURIES (Small devices) ========== */

@media screen and (width <= 600px) {
    .experienceContainer {
        gap: 1rem;
    }

    .experienceContainer>div {
        padding: 2rem 1rem;
        width: 100%;
    }
}